<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css" rel="stylesheet">
    <title>Customers</title>
</head>
<body>
<div th:switch="${customers}">
    <div style="text-align: center" th:case="*">
        <h2>Customers <span th:text="${#lists.size(customers)}"></span></h2>
        <table th:class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.surname}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div style="text-align: center; margin-top: 3rem;">
    <button id="btn-add"> ADD CUSTOMER</button>
</div>

<form style="display: none;">
    <label>NAME
        <input name="name" type="text">
    </label>
    <label>SURNAME
        <input name="surname" type="text">
    </label>
    <button id="send-button" style="display: none;" type="submit"> SEND FORM!</button>
</form>

<script>
    document.getElementById("btn-add").addEventListener("click", function () {
        document.querySelector('form').style.display = 'block';
        document.getElementById("send-button").style.display = 'block';
    }, false);


    const form = document.querySelector('form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const resp = await fetch('/api/v1/customers', {
            method: 'post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: form.elements.name.value,
                surname: form.elements.surname.value
            })
        });
        if (resp.ok) {
            form.reset();
            window.location.reload(true);
        }
        else {
            alert("You should input a correct value");
        }
    });

</script>

</body>
</html>