<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css" rel="stylesheet">
    <title>Visits</title>
</head>
<body>
<div th:switch="${visits}">
    <div style="text-align: center" th:case="*">
        <h2>Visits <span th:text="${#lists.size(visits)}"></span></h2>
        <table th:class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Start time</th>
                <th>Duration</th>
                <th>Animal</th>
                <th>Status</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="visit : ${visits}">
                <td th:text="${visit.id}"></td>
                <td th:text="${visit.startTime}"></td>
                <td th:text="${visit.duration}"></td>
                <td th:text="${visit.animal}"></td>
                <td th:text="${visit.status}"></td>
                <td th:text="${visit.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div style="text-align: center; margin-top: 3rem;">
    <button id="btn-add"> ADD VISIT</button>
</div>

<form style="display: none;">
    <label>START TIME
        <input name="start" type="datetime-local">
    </label>
    <label>DURATION
        <input name="duration" type="text">
    </label>
    <label>ANIMAL ID
        <input name="animalID" type="number">
    </label>
    <label>PRICE
        <input name="price" type="number">
    </label>
    <label>OWNER ID
        <input name="ownerID" type="number">
    </label>
    <button id="send-button" style="display: none;" type="submit">SEND FORM!</button>
</form>

<script>
    document.getElementById("btn-add").addEventListener("click", function () {
        document.querySelector('form').style.display = 'block';
        document.getElementById("send-button").style.display = 'block';
    }, false);


    const form = document.querySelector('form');

    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const resp = await fetch('/api/visits', {
            method: 'post',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                startTime: form.elements.start.value,
                duration: form.elements.duration.value,
                animalId: form.elements.animalID.value,
                status: "PLANNED",
                price: form.elements.price.value,
                customerID: form.elements.ownerID.value
            })
        });
        if (resp.ok) {
            form.reset();
            window.location.reload(true);
        }
    });
</script>
</body>
</html>